html { 
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

img{
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

#login-button1{
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 450px;
  right: 0;
  bottom: 190px;
  padding: 5px;
  margin: auto;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: rgba(3,3,3,.8);
  overflow: hidden;
  opacity: 0.8;
  box-shadow: 10px 10px 30px #ffff00;}
  
  
  #login-button2{
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 250px;
  right:0;
  bottom: 190px;
  padding: 5px;
  margin: auto;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: rgba(3,3,3,.8);
  overflow: hidden;
  opacity: 0.8;
  box-shadow: 10px 10px 30px #0000ff;}
  
  #login-button3{
    cursor: pointer;
  position: absolute;
  top: 0px;
  left: 50px;
  right: 0;
  bottom: 190px;
  padding: 5px;
  margin: auto;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: rgba(3,3,3,.8);
  overflow: hidden;
  opacity: 0.8;
  box-shadow: 10px 10px 30px #00ff00;}

/* Login container */
#container{
  margin: 20px;
  position: absolute;
  font-family: AVENGEANCE HEROIC AVENGER,'Hind', sans-serif;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
  margin: auto;
  width: 260px;
  height: 520px;
  border-radius: 10px;
  background: #798086;
  box-shadow: 1px 1px 50px #000;
  display: none;
  opacity: .96;
  
  
}
#reimbursement{
  float: right;
  margin: 20px;
  position: absolute;
  font-family: AVENGEANCE HEROIC AVENGER,'Hind', sans-serif;
  top: 0;
  left: 930px;
  right: 0;
  bottom: 50%;
  margin: auto;
  width: 260px;
  height: 520px;
  border-radius: 10px;
  background: #798086;
  box-shadow: 1px 1px 50px #000;
  opacity: .96;
  
  
}


.register-btn{
  position: absolute;
  cursor: crosshair;
  font-family: AVENGEANCE HEROIC AVENGER,'Hind', sans-serif;
  line-height: 18px;
  top: 3px;
  left: 3px;
  width: 60px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
  opacity: .7;
  color: buttontext;
}

.close-btn{
  position: absolute;
  cursor: pointer;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 18px;
  top: 3px;
  right: 3px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
  opacity: .2;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.close-btn:hover{
  opacity: .5;
}

/* Heading */
h1{
  font-family: AVENGEANCE HEROIC AVENGER,'Hind', sans-serif;
  position: relative;
  margin-top: 0px;
  text-align: center;
  font-size: 40px;
  color: #ddd;
  text-shadow: 3px 3px 10px #000;
}

/* Inputs */
a,
input{
  font-family: AVENGEANCE HEROIC AVENGER,'Hind', sans-serif;
  text-decoration: none;
  position: relative;
  width: 80%;
  display: block;
  margin: 9px auto;
  font-size: 17px;
  color: #fff;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: rgba(3,3,3,.1);
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input:focus{
  outline: none;
  box-shadow: 3px 3px 10px #333;
  background: rgba(3,3,3,.18);
}

/* Placeholders */
::-webkit-input-placeholder {
   color: #ddd;  }
:-moz-placeholder { /* Firefox 18- */
   color: #ddd;  }
::-moz-placeholder {  /* Firefox 19+ */
   color: #ddd;  }
:-ms-input-placeholder {  
   color: #333;  }

/* Link */
a{
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  padding: 4px 8px;
  background: rgba(107,255,3,0.3);
}

a:hover{
  opacity: 0.7;
}


#register{
  position: absolute;
  font-size: 12px;
  font-family: AVENGEANCE HEROIC AVENGER,'Hind', sans-serif;
  color: #798086;
  right: 0px;
  top: 8px;
  cursor: pointer;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#register:hover{
  color: rgba(255,255,255,.6);
}

#register-container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
  margin: auto;
  width: 260px;
  height: 560px;
  border-radius: 10px;
  font-family: AVENGEANCE HEROIC AVENGER,'Hind', sans-serif;
  background:  #798086;
  box-shadow: 1px 1px 50px #000;
  display: none;
}

.orange-btn{
  background: rgba(87,198,255,.5);
}
